.addLocationCardK {
  border-radius: 0 !important;
  width: 35vw;
  height: 12vw;
  margin-left: 30vw;
  margin-top: -42vw;
  padding: 0 0 0 0;
  background-color: #e08eb4;
}

.ResetCard {
  margin-left: 30vw;
  margin-top: -42vw;
  padding: 0 0 0 0;
  width: 35vw;

  background-color: #e08eb4;
}
.cardTitleStyleK {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 9vw;
  color: #ededfd;
  font-weight: 600;
}
.locLabelStyleK {
  color: #ededfd;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  margin-top: 0.6vw;
  margin-left: 0.2vw;
}
.locFormStyleK {
  border-radius: 0 !important;
}
.addButtonStyleK {
  margin-top: 3vw;
  margin-left: 30vw;
  border-radius: 0 !important;
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2vw;
  color: grey;
}
.messagesStylingK {
  margin-left: 16vw;
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 300;
  font-size: 1vw;
  color: rgb(247, 48, 48);
}

.messagesStylingKS {
  margin-left: 16vw;
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 300;
  font-size: 1vw;
  color: rgb(0, 218, 11);
}
